107 DIALOGEX 0, 0, 396, 316, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_3DLOOK | DS_CONTROL | WS_CHILD
EXSTYLE = WS_EX_CONTEXTHELP
FONT 8, "MS Sans Serif", 0, FALSE
{
 GROUPBOX "Ajustes de ROM de sistema", -1, 1, 5, 394, 89
 LTEXT "Archivo de ROM principal:", 1603, 14, 18, 263, 10
 COMBOBOX 1390, 12, 30, 361, 75, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL
 PUSHBUTTON "...", 1392, 376, 30, 10, 15
 LTEXT "Archivo de ROM extendida:", 1602, 14, 47, 263, 10
 COMBOBOX 1394, 12, 59, 361, 75, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL
 PUSHBUTTON "...", 1395, 376, 60, 10, 15
 AUTOCHECKBOX "Emulación MapROM [] Crea area de memoria compatible BlizKick", 1609, 87, 77, 104, 12
 AUTOCHECKBOX "Soporte ShapeShifter [] Parchea la ROM de sistema para compatibilitdad con ShapeShifter.", 1530, 195, 77, 106, 13
 GROUPBOX "Miscelánea", -1, 0, 162, 395, 109
 LTEXT "Archivo de cartucho ROM:", 1606, 12, 177, 265, 10
 COMBOBOX 1398, 12, 190, 361, 75, CBS_DROPDOWN | CBS_AUTOHSCROLL | CBS_SORT | WS_VSCROLL
 PUSHBUTTON "...", 1399, 376, 190, 10, 15
 LTEXT "Flash RAM o archivo de BIOS CMOS RAM A2286/A2386SX:", 1605, 12, 207, 265, 10
 EDITTEXT 1397, 12, 219, 361, 12, ES_AUTOHSCROLL
 PUSHBUTTON "...", 1396, 376, 218, 10, 15
 LTEXT "Archivo de reloj en tiempo real (RTC)", -1, 12, 233, 313, 15, SS_CENTERIMAGE
 EDITTEXT 1411, 12, 249, 361, 12, ES_AUTOHSCROLL
 PUSHBUTTON "...", 1401, 376, 248, 10, 15
 GROUPBOX "Configuración avanzada de la placa de expansión UAE /Ajustes de Boot ROM ", -1, 0, 274, 395, 36
 COMBOBOX 1848, 96, 289, 155, 75, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Tipo de placa:", -1, 20, 287, 67, 15, SS_CENTERIMAGE
 RTEXT "Rango dirección", -1, 158, 115, 54, 15, SS_CENTERIMAGE
 EDITTEXT 1862, 219, 115, 79, 13, ES_AUTOHSCROLL
 EDITTEXT 1863, 306, 115, 79, 13, ES_AUTOHSCROLL
 COMBOBOX 1861, 12, 115, 135, 75, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Ajustes avanzados de ROM personalizada", -1, 0, 98, 394, 59
 EDITTEXT 1864, 12, 135, 361, 12, ES_AUTOHSCROLL
 PUSHBUTTON "...", 1402, 376, 132, 10, 15
}
