122 DIALOGEX 0, 0, 396, 316, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_3DLOOK | DS_CONTROL | WS_CHILD
FONT 8, "MS Sans Serif", 0, FALSE
{
 COMBOBOX 1651, 1, 10, 393, 50, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Emulación de sonido", 1229, 1, 28, 132, 112
 AUTORADIOBUTTON "Desactivada", 1238, 13, 44, 108, 10, WS_GROUP
 AUTORADIOBUTTON "Desactivada, pero emulada", 1239, 13, 58, 107, 10
 AUTORADIOBUTTON "Activada", 1240, 13, 72, 108, 10
 AUTOCHECKBOX "Conmutación automática", 1709, 13, 90, 108, 10, BS_LEFT | WS_GROUP
 AUTOCHECKBOX "Incluir audio CD/FMV", 1710, 13, 103, 108, 10, BS_LEFT | WS_GROUP
 GROUPBOX "Volumen", -1, 139, 28, 255, 69
 RTEXT "Principal", -1, 160, 47, 51, 10, SS_CENTERIMAGE
 CONTROL "", 1576, "msctls_trackbar32", WS_TABSTOP | 0x00000005, 215, 41, 105, 20
 EDITTEXT 1580, 337, 44, 48, 12, ES_CENTER | ES_READONLY
 COMBOBOX 1249, 147, 74, 64, 75, CBS_DROPDOWNLIST | WS_VSCROLL
 CONTROL "", 1578, "msctls_trackbar32", WS_TABSTOP | 0x00000005, 215, 70, 105, 20
 EDITTEXT 1582, 337, 73, 48, 12, ES_CENTER | ES_READONLY
 GROUPBOX "Tamaño del buffer de sonido", -1, 140, 99, 254, 42
 CONTROL "Slider1", 1574, "msctls_trackbar32", WS_TABSTOP | 0x00000005, 207, 115, 105, 20
 EDITTEXT 1577, 329, 118, 48, 12, ES_CENTER | ES_READONLY
 GROUPBOX "Ajustes", 1252, 1, 145, 393, 72
 LTEXT "Modo canal:", 1657, 22, 157, 128, 8, SS_CENTERIMAGE
 COMBOBOX 1655, 24, 167, 135, 75, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Separación estéreo:", 1659, 180, 157, 84, 8, SS_CENTERIMAGE
 COMBOBOX 1656, 181, 167, 74, 75, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Interpolación:", 1658, 279, 157, 98, 8, SS_CENTERIMAGE
 COMBOBOX 1248, 279, 167, 96, 75, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Frecuencia:", 1653, 22, 185, 58, 8, SS_CENTERIMAGE
 COMBOBOX 1652, 24, 195, 55, 75, CBS_DROPDOWN | WS_VSCROLL
 LTEXT "Invertir canales:", 1664, 85, 185, 81, 8, SS_CENTERIMAGE
 COMBOBOX 1662, 86, 195, 74, 75, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Retraso de estéreo:", 1660, 180, 185, 83, 8, SS_CENTERIMAGE
 COMBOBOX 1661, 181, 195, 74, 75, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Filtro de sonido:", 1654, 279, 185, 98, 8, SS_CENTERIMAGE
 COMBOBOX 1640, 279, 195, 96, 75, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Emulación de sonido de disquetera", -1, 1, 218, 278, 91
 CONTROL "", 1579, "msctls_trackbar32", WS_TABSTOP | 0x00000005, 20, 236, 107, 19
 EDITTEXT 1581, 145, 240, 48, 12, ES_CENTER | ES_READONLY
 LTEXT "Unidad vacía", -1, 205, 240, 60, 15, SS_CENTERIMAGE
 CONTROL "", 1583, "msctls_trackbar32", WS_TABSTOP | 0x00000005, 20, 263, 107, 19
 EDITTEXT 1584, 145, 267, 48, 12, ES_CENTER | ES_READONLY
 LTEXT "Disco en unidad", -1, 205, 267, 60, 15, SS_CENTERIMAGE
 COMBOBOX 1647, 18, 290, 175, 75, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 1642, 205, 290, 66, 75, CBS_DROPDOWNLIST | WS_VSCROLL
 GROUPBOX "Controladores", -1, 285, 222, 109, 87
 AUTOCHECKBOX "DirectSound", 1713, 292, 243, 98, 10, BS_LEFT | WS_GROUP
 AUTOCHECKBOX "WASAPI", 1715, 292, 257, 98, 10, BS_LEFT | WS_GROUP
 AUTOCHECKBOX "OpenAL", 1716, 292, 271, 98, 10, BS_LEFT | WS_GROUP
 AUTOCHECKBOX "PortAudio", 1718, 292, 285, 98, 10, BS_LEFT | WS_GROUP
 AUTOCHECKBOX "Modo contador de volumen", 1711, 13, 123, 108, 10, BS_LEFT | NOT WS_VISIBLE | WS_GROUP
}
