135 DIALOGEX 0, 0, 396, 316, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_3DLOOK | DS_CONTROL | WS_CHILD
FONT 8, "MS Sans Serif", 0, FALSE
{
 CONTROL "", 1648, "SysTreeView32", WS_BORDER | WS_HSCROLL | WS_TABSTOP | 0x00000232, 1, 2, 393, 236
 RTEXT "Búsqueda:", -1, 7, 245, 44, 8, SS_CENTERIMAGE
 EDITTEXT 1407, 55, 243, 90, 13, ES_AUTOHSCROLL
 PUSHBUTTON "X", 1570, 149, 243, 15, 14
 RTEXT "Filtro:", -1, 172, 245, 39, 8, SS_CENTERIMAGE
 COMBOBOX 1695, 216, 243, 178, 150, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Nombre:", -1, 4, 265, 47, 8, SS_CENTERIMAGE
 COMBOBOX 1405, 55, 264, 175, 75, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 EDITTEXT 1410, 236, 263, 49, 15, ES_AUTOHSCROLL | WS_DISABLED
 RTEXT "Descripción:", -1, 1, 286, 50, 8, SS_CENTERIMAGE
 EDITTEXT 1406, 55, 284, 230, 13, ES_AUTOHSCROLL
 GROUPBOX "Información adicional", -1, 289, 260, 105, 38, BS_LEFT
 PUSHBUTTON "Ver", 1568, 297, 276, 41, 15
 PUSHBUTTON "Establece", 1569, 348, 276, 41, 15
 PUSHBUTTON "Cargar", 1409, 1, 301, 60, 15
 PUSHBUTTON "Guardar", 1408, 65, 301, 60, 15
 PUSHBUTTON "Cargar desde...", 1401, 162, 301, 60, 15
 PUSHBUTTON "Guardar como...", 1400, 226, 301, 60, 15
 PUSHBUTTON "Eliminar", 1403, 335, 301, 59, 15
}
