138 DIALOGEX 0, 0, 396, 316, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_3DLOOK | DS_CONTROL | WS_CHILD
FONT 8, "MS Sans Serif", 0, FALSE
{
 GROUPBOX "Puerto paralelo", -1, 1, 9, 393, 131
 RTEXT "Impresora:", -1, 6, 24, 57, 15, SS_CENTERIMAGE
 COMBOBOX 1025, 67, 25, 317, 134, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Tipo:", -1, 7, 46, 57, 15, SS_CENTERIMAGE
 COMBOBOX 1026, 67, 47, 317, 134, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Vaciar cola impresión", 1510, 147, 66, 75, 12
 RTEXT "Autvaciar [] Tiempo en segundos después de que un trabajo de impresión pendiente se elimina automáticamente.", 1698, 236, 64, 110, 15, SS_NOTIFY | SS_CENTERIMAGE
 EDITTEXT 1697, 351, 66, 33, 12, ES_NUMBER
 RTEXT "Parámetros extras de Ghostscript:", -1, 8, 82, 136, 15, SS_CENTERIMAGE
 EDITTEXT 1695, 148, 83, 236, 12, ES_AUTOHSCROLL
 RTEXT "Sampler:", -1, 6, 102, 57, 15, SS_CENTERIMAGE
 COMBOBOX 1028, 67, 103, 317, 134, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Sampler estéreo", 1812, 68, 122, 149, 12, BS_VCENTER
 GROUPBOX "Puerto serie", -1, 1, 145, 393, 51
 COMBOBOX 1022, 67, 158, 317, 65, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Compartido", 1553, 32, 179, 66, 12, BS_VCENTER
 AUTOCHECKBOX "RTS/CTS", 1554, 107, 179, 66, 12, BS_VCENTER
 AUTOCHECKBOX "Directo []Úselo para juegos multijugador mediante puerto serie en dos PC que ejecuten WinUAE", 1555, 182, 179, 83, 12, BS_VCENTER
 AUTOCHECKBOX "uaeserial.device", 1558, 274, 179, 108, 12, BS_VCENTER
 GROUPBOX "MIDI", -1, 1, 199, 393, 54, BS_LEFT
 RTEXT "Salida:", 1529, 22, 210, 32, 15, SS_CENTERIMAGE
 COMBOBOX 1023, 58, 212, 145, 130, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Entrada:", 1530, 204, 209, 31, 15, SS_CENTERIMAGE
 COMBOBOX 1024, 239, 211, 145, 134, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Direccionar entrada MIDI (In) a salida MIDI (Out)", 1815, 41, 235, 170, 12, BS_VCENTER
 GROUPBOX "Dongle de protección", -1, 1, 260, 393, 41, BS_LEFT
 COMBOBOX 1027, 58, 278, 232, 130, CBS_DROPDOWNLIST | WS_VSCROLL
}
