140 DIALOGEX 0, 0, 530, 345, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Autores de UAE y contribuyentes (Traducido a español por Carlos Romero)"
FONT 8, "MS Sans Serif", 0, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1375, 238, 324, 53, 14
 CONTROL "", 1124, "RICHEDIT", WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP | 0x000028C4, 4, 5, 521, 311
}
