141 DIALOGEX 0, 0, 396, 316, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_3DLOOK | DS_CONTROL | WS_CHILD
FONT 8, "MS Sans Serif", 0, FALSE
{
 CONTROL "", 1810, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000C801, 3, 5, 258, 232
 GROUPBOX "Opciones de miscelánea", -1, 266, 2, 128, 123
 CTEXT "Acceso CD/DVD SCSI:", -1, 272, 14, 117, 10, SS_CENTERIMAGE
 COMBOBOX 1705, 287, 28, 87, 65, CBS_DROPDOWNLIST | WS_VSCROLL
 CTEXT "Estilo en ventana:", -1, 272, 45, 117, 10, SS_CENTERIMAGE
 COMBOBOX 1793, 287, 59, 87, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 CTEXT "API gráfica:", -1, 272, 76, 117, 10, SS_CENTERIMAGE
 COMBOBOX 1792, 287, 89, 87, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1791, 287, 107, 87, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 GROUPBOX "Interfaz de usuario (GUI)", -1, 266, 125, 128, 112
 COMBOBOX 1706, 273, 138, 114, 65, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Fuente GUI..", 1288, 272, 155, 54, 14
 PUSHBUTTON "Por defecto", 1289, 272, 174, 54, 14
 COMBOBOX 1642, 333, 175, 54, 65, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "GUI ajustable", 1553, 273, 209, 114, 11
 AUTOCHECKBOX "GUI a pantalla completa", 1554, 273, 222, 114, 11
 GROUPBOX "Ficheros de estado", -1, 1, 242, 393, 38
 AUTOCHECKBOX "", 1536, 244, 261, 9, 10
 PUSHBUTTON "Cargar estado...", 1287, 257, 257, 65, 14
 PUSHBUTTON "Grabar estado...", 1286, 325, 257, 65, 14
 GROUPBOX "LEDs del teclado", -1, 1, 282, 393, 34
 COMBOBOX 1639, 10, 295, 64, 65, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 1640, 97, 295, 64, 65, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 1641, 184, 295, 64, 65, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Modo USB", 1533, 264, 296, 64, 11
 COMBOBOX 1811, 5, 258, 232, 75, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 PUSHBUTTON "Reset list customizations", 1291, 272, 192, 115, 14
}
