142 DIALOGEX 0, 0, 397, 292, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_CENTER | DS_CENTERMOUSE | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
EXSTYLE = WS_EX_ACCEPTFILES
CAPTION "Ajustes de archivo imagen de disco duro (Hardfile)"
FONT 8, "MS Sans Serif", 0, FALSE
{
 GROUPBOX "Ajustes", -1, 2, 2, 392, 196
 RTEXT "Ruta:", 1377, 10, 18, 37, 10
 COMBOBOX 1362, 52, 15, 325, 75, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 PUSHBUTTON "...", 1363, 380, 14, 11, 15
 RTEXT "FileSys:", 1380, 13, 52, 34, 10
 COMBOBOX 1376, 51, 49, 325, 75, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 PUSHBUTTON "...", 1381, 380, 48, 11, 15
 RTEXT "Dispositi.:", 1378, 16, 71, 31, 10
 EDITTEXT 1364, 52, 69, 89, 15, ES_AUTOHSCROLL
 RTEXT "Prioridad arranque:", 1375, 150, 71, 83, 10
 EDITTEXT 1369, 238, 69, 44, 15
 AUTOCHECKBOX "Geometría manual", 1385, 299, 70, 87, 10, NOT WS_VISIBLE
 AUTOCHECKBOX "Leer/Escribir", 1778, 52, 89, 67, 10
 AUTOCHECKBOX "No montar", 1383, 52, 103, 67, 10
 AUTOCHECKBOX "Arrancable (Bootable)", 1382, 152, 89, 78, 10
 AUTOCHECKBOX "Global filesystem", 1384, 152, 103, 82, 10, NOT WS_VISIBLE
 RTEXT "Superficies:", 1371, 298, 90, 45, 10
 EDITTEXT 1366, 347, 87, 40, 15, ES_NUMBER
 RTEXT "Sectores:", 1370, 298, 109, 45, 10
 EDITTEXT 1365, 347, 106, 40, 15, ES_NUMBER
 RTEXT "Reservado:", 1372, 297, 128, 46, 10
 EDITTEXT 1367, 347, 125, 40, 15, ES_NUMBER
 RTEXT "T. de bloque:", 1374, 299, 147, 45, 10
 EDITTEXT 1368, 347, 144, 40, 15, ES_NUMBER
 LTEXT "Controladora HD:", -1, 10, 127, 54, 10, SS_CENTERIMAGE
 PUSHBUTTON "Unidad completa/modo RDB", 1500, 83, 123, 127, 14
 COMBOBOX 1507, 214, 123, 75, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1504, 6, 145, 152, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1505, 163, 145, 63, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1506, 231, 145, 58, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 EDITTEXT 1779, 5, 164, 385, 12, ES_CENTER | ES_READONLY
 EDITTEXT 1782, 5, 180, 385, 12, ES_CENTER | ES_READONLY
 GROUPBOX "Nueva imagen de disco duro", -1, 2, 203, 392, 62
 PUSHBUTTON "Crear", 1502, 58, 219, 80, 14
 COMBOBOX 1696, 58, 243, 80, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 EDITTEXT 1501, 154, 219, 61, 15
 LTEXT "MB", -1, 220, 222, 53, 10, SS_CENTERIMAGE
 EDITTEXT 1503, 154, 242, 61, 15
 LTEXT "Tipo DOS", -1, 220, 244, 51, 10, SS_CENTERIMAGE
 AUTOCHECKBOX "Archivo disperso", 1780, 280, 228, 87, 10
 AUTOCHECKBOX "HDF dinámico", 1781, 280, 240, 87, 10
 PUSHBUTTON "Aceptar", 1, 147, 271, 50, 14
 PUSHBUTTON "Cancelar", 2, 203, 271, 50, 14
 RTEXT "Cilindros:", 1373, 300, 128, 43, 10, NOT WS_VISIBLE
 COMBOBOX 1855, 52, 32, 325, 75, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 PUSHBUTTON "...", 1856, 380, 31, 11, 15
 RTEXT "Geometría:", -1, 6, 34, 41, 10
}
