143 DIALOGEX 15, 25, 396, 111, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_CENTER | DS_CENTERMOUSE | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Ajustes de volumen"
FONT 8, "MS Sans Serif", 0, FALSE
{
 RTEXT "Nombre dispositivo:", -1, 4, 7, 65, 10
 EDITTEXT 1365, 73, 5, 104, 15, ES_AUTOHSCROLL
 RTEXT "Nombre volumen:", -1, 6, 28, 63, 10
 EDITTEXT 1364, 73, 25, 104, 15, ES_AUTOHSCROLL
 RTEXT "Ruta:", -1, 5, 49, 64, 10
 COMBOBOX 1362, 73, 46, 315, 75, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 AUTOCHECKBOX "Lectura/escritura", 1777, 259, 7, 67, 10
 AUTOCHECKBOX "Iniciable", 1380, 336, 7, 56, 10
 RTEXT "Prioridad inicio:", 1637, 298, 28, 49, 8
 EDITTEXT 1638, 358, 25, 30, 15
 PUSHBUTTON "Selecciona directorio", 1774, 72, 66, 123, 15
 PUSHBUTTON "Selecciona archivo o archivo plano", 1775, 197, 66, 123, 15
 PUSHBUTTON "Aceptar", 1, 72, 90, 62, 15
 PUSHBUTTON "Cancelar", 2, 138, 90, 62, 15
 PUSHBUTTON "Expulsar", 1776, 258, 90, 62, 15
}
