152 DIALOGEX 0, 0, 454, 368, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | WS_MINIMIZEBOX | WS_MAXIMIZEBOX | WS_POPUPWINDOW | WS_CAPTION
EXSTYLE = WS_EX_CONTROLPARENT
CAPTION "Depurador de WinUAE"
FONT 8, "Courier New", 0, FALSE
{
 LISTBOX 1742, 1, 1, 52, 66, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT
 LISTBOX 1743, 54, 1, 52, 66, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT
 LISTBOX 1745, 106, 1, 231, 66, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT
 LISTBOX 1744, 338, 1, 57, 42, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT
 LISTBOX 1747, 396, 1, 57, 42, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT
 LISTBOX 1748, 1, 68, 52, 10, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT
 LISTBOX 1749, 54, 68, 283, 10, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT
 LISTBOX 1746, 338, 44, 115, 34, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT
 EDITTEXT 1752, 1, 79, 370, 262, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | ES_WANTRETURN | WS_VSCROLL | NOT WS_TABSTOP
 PUSHBUTTON "Set to PC", 1759, 38, 79, 45, 12, NOT WS_TABSTOP
 AUTOCHECKBOX "Auto set", 1780, 84, 79, 50, 12, NOT WS_TABSTOP
 LISTBOX 1764, 372, 79, 81, 138, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT
 LISTBOX 1756, 1, 92, 370, 249, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT
 LISTBOX 1782, 1, 167, 370, 87, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT
 LISTBOX 1750, 372, 218, 81, 66, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT
 EDITTEXT 1739, 1, 255, 370, 86, ES_MULTILINE | ES_AUTOVSCROLL | ES_READONLY | ES_WANTRETURN | WS_VSCROLL | NOT WS_TABSTOP
 LISTBOX 1751, 372, 285, 81, 34, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT
 LISTBOX 1767, 372, 320, 81, 34, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT
 EDITTEXT 1741, 1, 342, 354, 12, ES_AUTOHSCROLL | ES_WANTRETURN
 PUSHBUTTON "?", 1740, 356, 342, 15, 12, NOT WS_TABSTOP
 CONTROL "", 1762, "msctls_statusbar32", 0x00000103, 0, 355, 453, 12
 LISTBOX 1757, 1, 92, 370, 249, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT
 EDITTEXT 1753, 1, 79, 36, 12, ES_AUTOHSCROLL | ES_WANTRETURN
 LISTBOX 1763, 1, 79, 370, 262, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_VSCROLL
 LISTBOX 1765, 1, 79, 370, 262, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_VSCROLL
 LISTBOX 1766, 1, 79, 370, 262, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT | LBS_DISABLENOSCROLL | WS_VSCROLL
 LISTBOX 1781, 1, 79, 370, 87, LBS_OWNERDRAWFIXED | LBS_HASSTRINGS | LBS_NOINTEGRALHEIGHT
}
