157 DIALOGEX 0, 0, 396, 316, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_CONTROL | WS_CHILD
FONT 8, "MS Sans Serif", 0, FALSE
{
 GROUPBOX "Propiedades de salida", -1, 1, 29, 393, 123
 EDITTEXT 1610, 15, 44, 342, 12, ES_AUTOHSCROLL | ES_READONLY | NOT WS_BORDER, WS_EX_CLIENTEDGE
 PUSHBUTTON "...", 1611, 362, 44, 23, 12
 AUTOCHECKBOX "Audio", 1614, 15, 63, 66, 14, BS_PUSHLIKE | BS_FLAT
 CONTROL "", 1618, "STATIC", SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | SS_SUNKEN | WS_GROUP, 88, 64, 298, 13
 AUTOCHECKBOX "Video", 1613, 15, 81, 66, 14, BS_PUSHLIKE | BS_FLAT
 CONTROL "", 1619, "STATIC", SS_LEFTNOWORDWRAP | SS_CENTERIMAGE | SS_SUNKEN | WS_GROUP, 87, 82, 298, 13
 AUTOCHECKBOX "Desactivar límite de velocidad de fotogramas", 1645, 15, 101, 176, 10
 AUTOCHECKBOX "Capturar antes de filtrar", 1649, 210, 101, 171, 10
 AUTOCHECKBOX "Desactivar salida de sonido", 1647, 15, 114, 176, 10
 AUTOCHECKBOX "Desactivar sincronía de sonido", 1648, 210, 114, 171, 10
 AUTORADIOBUTTON "Salida AVI activada", 1615, 15, 129, 144, 14, BS_PUSHLIKE | BS_FLAT | NOT WS_TABSTOP
 GROUPBOX "Ripeador", -1, 1, 155, 393, 53
 PUSHBUTTON "Guarda captura pantalla", 1632, 28, 169, 87, 14
 PUSHBUTTON "Pro Wizard 1.62", 1288, 162, 169, 87, 14, WS_DISABLED
 AUTOCHECKBOX "Capturar pantalla antes de filtrar", 1650, 11, 192, 144, 10
 AUTORADIOBUTTON "Ripeador de samples", 1616, 280, 169, 87, 14, BS_PUSHLIKE | BS_FLAT | NOT WS_TABSTOP
 GROUPBOX "Re-regrabadora", -1, 1, 211, 393, 70
 AUTORADIOBUTTON "Reproducir grabación", 1620, 53, 223, 87, 14, BS_PUSHLIKE | BS_FLAT | NOT WS_TABSTOP
 AUTORADIOBUTTON "Re-regrabación activada", 1532, 214, 223, 118, 14, BS_PUSHLIKE | BS_FLAT | NOT WS_TABSTOP
 AUTOCHECKBOX "Repetición automática", 1652, 54, 246, 129, 10
 PUSHBUTTON "Guardar grabación", 1621, 214, 241, 118, 14
 RTEXT "Tasa de grabación (segundos):", -1, 15, 264, 121, 10, SS_CENTERIMAGE | WS_TABSTOP
 COMBOBOX 1646, 141, 262, 38, 65, CBS_DROPDOWN | WS_VSCROLL
 RTEXT "Búferes de grabación:", -1, 195, 264, 91, 10, SS_CENTERIMAGE | WS_TABSTOP
 COMBOBOX 1651, 291, 262, 38, 65, CBS_DROPDOWN | WS_VSCROLL
 AUTOCHECKBOX "Autoclip screenshot", 1653, 161, 192, 144, 10
}
