160 DIALOGEX 0, 0, 396, 316, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_3DLOOK | DS_CONTROL | WS_CHILD
FONT 8, "MS Sans Serif", 0, FALSE
{
 GROUPBOX "Ajustes de filtros", -1, 1, 9, 393, 160
 COMBOBOX 1627, 9, 39, 153, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1818, 167, 39, 27, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1628, 199, 39, 29, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1638, 9, 60, 119, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1637, 134, 60, 129, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1839, 268, 20, 120, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 PUSHBUTTON "Restablecer", 1629, 268, 39, 121, 14
 COMBOBOX 1636, 268, 60, 88, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1819, 361, 60, 27, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 RTEXT "Tamaño horizontal:", -1, 7, 87, 81, 10, SS_CENTERIMAGE
 COMBOBOX 1626, 92, 86, 35, 150, CBS_DROPDOWN | CBS_HASSTRINGS | WS_VSCROLL
 RTEXT "Tamaño vertical:", -1, 7, 108, 81, 10, SS_CENTERIMAGE
 COMBOBOX 1635, 92, 107, 35, 150, CBS_DROPDOWN | CBS_HASSTRINGS | WS_VSCROLL
 RTEXT "Posición horizontal:", -1, 5, 129, 81, 10, SS_CENTERIMAGE
 RTEXT "Posición vertical:", -1, 5, 149, 81, 10, SS_CENTERIMAGE
 CONTROL "Slider1", 1616, "msctls_trackbar32", WS_TABSTOP | 0x00000005, 147, 80, 152, 19
 EDITTEXT 1696, 316, 82, 42, 12, ES_CENTER | ES_READONLY
 CONTROL "Slider1", 1617, "msctls_trackbar32", WS_TABSTOP | 0x00000005, 147, 101, 152, 19
 EDITTEXT 1695, 316, 103, 42, 12, ES_CENTER | ES_READONLY
 CONTROL "Slider1", 1618, "msctls_trackbar32", WS_TABSTOP | 0x00000005, 147, 122, 151, 19
 EDITTEXT 1694, 316, 124, 42, 12, ES_CENTER | ES_READONLY
 CONTROL "Slider1", 1619, "msctls_trackbar32", WS_TABSTOP | 0x00000005, 147, 143, 151, 19
 EDITTEXT 1693, 316, 145, 42, 12, ES_CENTER | ES_READONLY
 GROUPBOX "Ratio de corrección de aspecto", -1, 1, 173, 144, 89
 COMBOBOX 1620, 14, 190, 99, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 AUTOCHECKBOX "Mantener aspecto de autoescala", 1710, 14, 210, 126, 11, BS_LEFT | WS_GROUP
 AUTOCHECKBOX "Mantener la relación de aspecto", 1709, 14, 225, 126, 11, BS_LEFT | WS_GROUP
 COMBOBOX 1621, 14, 241, 99, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 GROUPBOX "Ajustes extra", -1, 154, 173, 240, 89
 COMBOBOX 1630, 177, 193, 138, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1625, 327, 193, 41, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 CONTROL "Slider1", 1624, "msctls_trackbar32", WS_TABSTOP | 0x00000005, 179, 216, 141, 19
 EDITTEXT 1692, 327, 218, 41, 12, ES_CENTER | ES_READONLY
 GROUPBOX "Preajustes", -1, 1, 266, 393, 36
 COMBOBOX 1631, 13, 281, 183, 150, CBS_DROPDOWN | CBS_SORT | CBS_HASSTRINGS | WS_VSCROLL
 PUSHBUTTON "Cargar", 1632, 205, 280, 55, 14
 PUSHBUTTON "Guardar", 1633, 265, 280, 55, 14
 PUSHBUTTON "Borrar", 1634, 325, 280, 55, 14
 COMBOBOX 1639, 233, 39, 29, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
}
