171 DIALOGEX 0, 0, 396, 316, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_3DLOOK | DS_CONTROL | WS_CHILD
FONT 8, "MS Sans Serif", 0, FALSE
{
 COMBOBOX 1607, 5, 4, 106, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1609, 116, 4, 192, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 RTEXT "Dispositivo activado", -1, 313, 6, 66, 11, SS_CENTERIMAGE
 AUTOCHECKBOX "", 1615, 384, 7, 9, 10
 CONTROL "List1", 1611, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000080D, 5, 22, 390, 220
 COMBOBOX 1616, 5, 248, 24, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1612, 33, 248, 286, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 PUSHBUTTON "Testo [] Testea mapeos de entrada.", 1634, 324, 248, 34, 14
 PUSHBUTTON "Remapear [] Busca y remapea rápidamente.", 1633, 361, 248, 34, 14
 RTEXT "Zona muerta del joystick (%):", -1, 5, 271, 106, 10, SS_CENTERIMAGE
 EDITTEXT 1630, 116, 270, 29, 12, ES_NUMBER
 RTEXT "Ajuste de autodisparo (líneas):", -1, 5, 288, 106, 10, SS_CENTERIMAGE
 EDITTEXT 1188, 116, 286, 29, 12, ES_NUMBER
 RTEXT "Velocidad digital joy-ratón:", -1, 147, 271, 108, 10, SS_CENTERIMAGE
 EDITTEXT 1189, 260, 270, 29, 12, ES_NUMBER
 RTEXT "Velocidad analógica joy-ratón", -1, 147, 288, 108, 10, SS_CENTERIMAGE
 EDITTEXT 1190, 260, 287, 29, 12, ES_NUMBER
 PUSHBUTTON "Copiar desde:", 1631, 324, 268, 70, 14
 COMBOBOX 1614, 324, 286, 70, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 PUSHBUTTON "Intercambia 1<>2", 1632, 324, 303, 70, 14
}
