172 DIALOGEX 0, 0, 396, 316, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_SETFOREGROUND | DS_3DLOOK | DS_CONTROL | DS_CENTER | DS_CENTERMOUSE | WS_CHILD
FONT 8, "MS Sans Serif", 0, FALSE
{
 PUSHBUTTON "Insertar imagen de disquete", 1650, 8, 299, 121, 15
 PUSHBUTTON "Quitar imagen de disquete", 1649, 137, 299, 121, 15
 PUSHBUTTON "Quitar todo", 1651, 266, 299, 121, 15
 COMBOBOX 1699, 1, 281, 393, 75, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 CONTROL "", 1659, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000880D, 1, 4, 393, 275
}
