249 DIALOGEX 0, 0, 420, 242, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_3DLOOK | DS_CONTROL | WS_CHILD
FONT 8, "MS Sans Serif", 0, FALSE
{
 CONTROL "", 1700, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000880D, 6, 9, 235, 124
 GROUPBOX "", 1701, 249, 140, 160, 95
 GROUPBOX "", 1702, 249, 7, 160, 128
}
