263 DIALOGEX 0, 0, 396, 316, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_3DLOOK | DS_CONTROL | WS_CHILD
FONT 8, "MS Sans Serif", 0, FALSE
{
 GROUPBOX "Ajustes de ratón y joystick", -1, 1, 15, 393, 211
 RTEXT "Puerto 1:", -1, 4, 30, 37, 15, SS_CENTERIMAGE
 COMBOBOX 1026, 45, 31, 342, 130, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 1033, 45, 49, 86, 130, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 1029, 136, 50, 106, 130, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Remapea / Testea [] Remapea o verifica la configuración del puerto 1.", 1799, 310, 49, 78, 14
 RTEXT "Puerto 2:", -1, 6, 68, 35, 15, SS_CENTERIMAGE
 COMBOBOX 1027, 45, 69, 342, 130, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 1034, 45, 86, 86, 130, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 1030, 136, 86, 106, 130, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Remapea / Testea [] Remapea o verifica la configuración del puerto 2.", 1798, 310, 86, 78, 14
 PUSHBUTTON "Invertir puertos [] Invertir puertos 1 y 2.", 1509, 45, 112, 78, 14
 AUTOCHECKBOX "Cambio auto. ratón/joystick [] Presione el botón para insertar automáticamente el dispositivo de entrada inactivo en el puerto del joystick / mouse", 1792, 136, 114, 172, 11
 LTEXT "Adaptador de puerto joystick emulado", -1, 10, 136, 179, 15, SS_CENTERIMAGE
 COMBOBOX 1031, 45, 154, 342, 130, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Remapea / Testea [] Remapea o verifica la configuración del puerto paralelo de joystick 1.", 1800, 310, 171, 78, 14
 COMBOBOX 1032, 45, 190, 342, 130, CBS_DROPDOWNLIST | WS_VSCROLL
 PUSHBUTTON "Remapea / Testea [] Remapea o verifica la configuración del puerto paralelo de joystick 2.", 1801, 310, 206, 78, 14
 GROUPBOX "Ajustes extra del ratón", -1, 1, 231, 393, 68
 RTEXT "Velocidad de ratón:", -1, 13, 249, 70, 10, SS_CENTERIMAGE
 EDITTEXT 1191, 97, 249, 25, 13, ES_NUMBER
 AUTOCHECKBOX "Instalar driver virtual de ratón", 1789, 9, 267, 116, 11
 RTEXT "Modo de liberación del ratón:", -1, 143, 249, 110, 10, SS_CENTERIMAGE
 COMBOBOX 1035, 268, 246, 119, 130, CBS_DROPDOWNLIST | WS_VSCROLL
 RTEXT "Modo cursor de Magic Mouse:", -1, 143, 265, 110, 10, SS_CENTERIMAGE
 COMBOBOX 1028, 268, 263, 119, 130, CBS_DROPDOWNLIST | WS_VSCROLL
 AUTOCHECKBOX "Emulación de Tablet.library", 1791, 9, 283, 117, 11
 RTEXT "Modo Tablet:", -1, 184, 283, 70, 10, SS_CENTERIMAGE
 COMBOBOX 1036, 268, 280, 119, 130, CBS_DROPDOWNLIST | WS_VSCROLL
}
