335 DIALOGEX 0, 0, 150, 58, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Introduce dirección..."
FONT 8, "MS Sans Serif", 0, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 15, 39, 50, 14
 PUSHBUTTON "Cancelar", 2, 75, 39, 50, 14
 EDITTEXT 1783, 20, 12, 100, 14, ES_AUTOHSCROLL | ES_WANTRETURN
 CTEXT "Introduce dirección", 1784, 20, 1, 100, 10, SS_CENTERIMAGE | WS_TABSTOP
}
