351 DIALOGEX 0, 0, 396, 316, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_3DLOOK | DS_CONTROL | WS_CHILD
FONT 8, "MS Sans Serif", 0, FALSE
{
 GROUPBOX "RTG Graphics Card", -1, 1, 48, 393, 198
 COMBOBOX 1794, 26, 77, 215, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1799, 248, 77, 37, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 RTEXT "VRAM size: [] Graphics card memory. Required for RTG (Picasso96) emulation.", 1191, 2, 98, 76, 10, SS_NOTIFY | SS_CENTERIMAGE
 CONTROL "", 1840, "msctls_trackbar32", WS_TABSTOP | 0x00000005, 88, 94, 103, 20
 EDITTEXT 1839, 201, 97, 40, 12, ES_CENTER | ES_READONLY
 AUTOCHECKBOX "Match host and RTG color depth if possible", 1786, 25, 117, 177, 10
 AUTOCHECKBOX "Scale if smaller than display size setting", 1785, 25, 130, 175, 10
 AUTOCHECKBOX "Always scale in windowed mode", 1791, 25, 143, 170, 10
 AUTOCHECKBOX "Always center", 1798, 25, 156, 169, 10
 AUTOCHECKBOX "Hardware vertical blank interrupt", 1796, 25, 169, 157, 10
 AUTOCHECKBOX "Hardware sprite emulation", 1797, 207, 169, 148, 10
 CTEXT "Color modes:", -1, 295, 81, 83, 10, SS_CENTERIMAGE
 COMBOBOX 1787, 296, 96, 82, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1788, 296, 113, 82, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1789, 296, 131, 82, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1790, 296, 148, 82, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1809, 11, 188, 371, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 CTEXT "Refresh rate:", -1, 30, 212, 83, 10, SS_CENTERIMAGE
 COMBOBOX 1793, 29, 227, 84, 150, CBS_DROPDOWN | CBS_HASSTRINGS | WS_VSCROLL
 CTEXT "Buffer mode:", -1, 154, 212, 83, 10, SS_CENTERIMAGE
 COMBOBOX 1795, 153, 227, 84, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 CTEXT "Aspect ratio:", -1, 282, 212, 83, 10, SS_CENTERIMAGE
 COMBOBOX 1792, 282, 227, 84, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 AUTOCHECKBOX "Multithreaded", 1800, 207, 156, 83, 10
 LTEXT "Board:", -1, 29, 62, 61, 10
 COMBOBOX 1716, 175, 61, 65, 65, CBS_DROPDOWNLIST | WS_VSCROLL
 LTEXT "Monitor:", -1, 105, 62, 65, 10, 0, WS_EX_RIGHT
}
