354 DIALOGEX 0, 0, 421, 341, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_MODALFRAME | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Remapeo de entrada"
FONT 8, "MS Sans Serif", 0, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 147, 51, 58, 14, NOT WS_VISIBLE
 CONTROL "", 1797, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000C00D, 1, 1, 418, 257
 EDITTEXT 1801, 1, 261, 418, 14, ES_AUTOHSCROLL | ES_READONLY | WS_DISABLED
 EDITTEXT 1802, 1, 277, 418, 29, ES_MULTILINE | ES_READONLY | WS_DISABLED
 COMBOBOX 1825, 2, 309, 247, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 PUSHBUTTON "Agregar evento", 1820, 253, 308, 79, 14
 PUSHBUTTON "Autodisparo", 1826, 338, 308, 79, 14
 PUSHBUTTON "Test / Prueba", 1822, 1, 325, 80, 14
 PUSHBUTTON "Remapear", 1819, 85, 325, 80, 14
 PUSHBUTTON "Borrar", 1821, 169, 325, 80, 14
 PUSHBUTTON "Borrar todo", 1823, 253, 325, 80, 14
 PUSHBUTTON "Salir", 1824, 338, 325, 79, 14
}
