386 DIALOGEX 0, 0, 316, 206, 0
STYLE DS_SETFONT | DS_MODALFRAME | DS_3DLOOK | DS_FIXEDSYS | WS_POPUPWINDOW | WS_CAPTION
CAPTION "Opciones"
FONT 8, "MS Shell Dlg", 400, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 205, 185, 50, 14
 PUSHBUTTON "Cancelar", 2, 259, 185, 50, 14
 DEFPUSHBUTTON "Limpiar", 3, 6, 185, 50, 14
 CONTROL "", 1813, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000880D, 7, 7, 302, 171
}
