387 DIALOGEX 0, 0, 395, 125, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_CENTER | DS_CENTERMOUSE | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Ajustes de CD"
FONT 8, "MS Sans Serif", 0, FALSE
{
 RTEXT "Controladora de HD:", -1, 7, 90, 65, 10, SS_CENTERIMAGE
 COMBOBOX 1504, 80, 89, 154, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1505, 239, 89, 71, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 DEFPUSHBUTTON "Agregar unidad CD", 1, 121, 108, 73, 14
 PUSHBUTTON "Cancelar", 2, 201, 108, 73, 14
 CONTROL "", 1815, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000080D, 4, 4, 387, 77
}
