388 DIALOGEX 0, 0, 395, 97, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | DS_CENTER | DS_CENTERMOUSE | WS_POPUPWINDOW | WS_VISIBLE | WS_CAPTION
CAPTION "Configuración de la unidad de cinta"
FONT 8, "MS Sans Serif", 0, FALSE
{
 RTEXT "Ruta:", -1, 4, 18, 43, 10, SS_CENTERIMAGE
 COMBOBOX 1362, 52, 15, 332, 75, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 PUSHBUTTON "Selecciona directorio", 1832, 13, 36, 123, 15
 PUSHBUTTON "Selecciona archivo o archivo plano", 1833, 146, 36, 123, 15
 PUSHBUTTON "Expulsar", 1835, 278, 36, 105, 15
 RTEXT "Controladora de HD:", -1, 7, 60, 65, 10, SS_CENTERIMAGE
 COMBOBOX 1504, 79, 58, 148, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 COMBOBOX 1505, 235, 58, 52, 150, CBS_DROPDOWNLIST | CBS_HASSTRINGS | WS_VSCROLL
 AUTOCHECKBOX "Lectura/Escritura", 1834, 299, 58, 84, 10
 DEFPUSHBUTTON "Agregar unidad de cinta", 1, 106, 75, 88, 14
 PUSHBUTTON "Cancelar", 2, 200, 76, 88, 14
}
