389 DIALOGEX 0, 0, 530, 345, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_MODALFRAME | DS_SETFOREGROUND | DS_3DLOOK | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Registro de errores de configuración"
FONT 8, "MS Sans Serif", 0, FALSE
{
 DEFPUSHBUTTON "Aceptar", 1, 176, 322, 65, 15
 PUSHBUTTON "Limpiar registro", 1836, 288, 322, 65, 15
 CONTROL "", 1835, "RICHEDIT", WS_BORDER | WS_VSCROLL | WS_HSCROLL | WS_TABSTOP | 0x000028C4, 4, 5, 521, 309
}
