398 DIALOGEX 0, 0, 396, 316, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_3DLOOK | DS_CONTROL | WS_CHILD
FONT 8, "MS Sans Serif", 0, FALSE
{
 GROUPBOX "Ajustes de placa de expansión", -1, 1, 42, 394, 88
 COMBOBOX 1394, 12, 59, 157, 75, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL
 COMBOBOX 1391, 12, 78, 157, 75, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL
 COMBOBOX 1393, 12, 95, 157, 75, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL
 COMBOBOX 1395, 12, 112, 157, 75, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL
 COMBOBOX 1404, 175, 78, 22, 75, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL
 RTEXT "ID Controlador:", -1, 241, 59, 110, 15, SS_CENTERIMAGE
 COMBOBOX 1405, 356, 60, 29, 75, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL
 PUSHBUTTON "...", 1402, 376, 78, 10, 15
 AUTOCHECKBOX "Autoboot desactivado", 1610, 202, 98, 94, 12
 AUTOCHECKBOX "", 1613, 202, 112, 99, 12
 EDITTEXT 1857, 202, 112, 172, 14, ES_AUTOHSCROLL
 COMBOBOX 1396, 202, 112, 171, 75, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL
 COMBOBOX 1412, 202, 78, 171, 75, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 GROUPBOX "Ajustes de placa aceleradora", -1, 1, 133, 394, 91
 COMBOBOX 1842, 13, 154, 117, 75, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 1845, 13, 173, 117, 75, CBS_DROPDOWNLIST | WS_VSCROLL
 COMBOBOX 1397, 12, 205, 157, 75, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL
 COMBOBOX 1398, 202, 205, 171, 75, CBS_DROPDOWNLIST | CBS_AUTOHSCROLL | WS_VSCROLL
 RTEXT "Memoria de placa aceleradora:", -1, 155, 181, 104, 15, SS_CENTERIMAGE
 LTEXT "Archivo ROM de placa aceleradora:", -1, 203, 141, 170, 15, SS_CENTERIMAGE
 COMBOBOX 1414, 202, 156, 169, 75, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_VSCROLL
 PUSHBUTTON "...", 1403, 376, 155, 10, 15
 CONTROL "", 1843, "msctls_trackbar32", WS_TABSTOP | 0x00000005, 269, 179, 68, 20
 EDITTEXT 1055, 343, 183, 40, 12, ES_CENTER | ES_READONLY
 AUTOCHECKBOX "", 1617, 202, 206, 99, 12
 GROUPBOX "Expansiones varias", -1, 1, 228, 394, 51
 AUTOCHECKBOX "bsdsocket.library [] Emulación de biblioteca de red bsdsocket.", 1503, 6, 243, 179, 11
 AUTOCHECKBOX "uaescsi.device", 1606, 6, 259, 180, 11
 AUTOCHECKBOX "uaenet.device [] Emulación de dispositivo de red compatible con Sana 2.", 1614, 193, 243, 187, 11
 AUTOCHECKBOX "Cartucho CD32 Full Motion Video", 1771, 193, 259, 193, 11
 AUTOCHECKBOX "Activada", 1612, 202, 79, 99, 12
 AUTOCHECKBOX "PCMCIA insertada", 1865, 301, 98, 84, 12
 AUTOCHECKBOX "DMA 24-bit", 1866, 202, 61, 84, 12
}
