399 DIALOGEX 0, 0, 396, 316, 0
STYLE DS_LOCALEDIT | DS_SETFONT | DS_3DLOOK | DS_CONTROL | WS_CHILD
EXSTYLE = WS_EX_CONTEXTHELP
FONT 8, "MS Sans Serif", 0, FALSE
{
 CONTROL "", 1850, "SysListView32", WS_BORDER | WS_TABSTOP | 0x0000880D, 2, 36, 390, 220
 AUTOCHECKBOX "Orden placa personalizada", 1851, 2, 260, 99, 12
 PUSHBUTTON "Mover arriba", 1853, 114, 259, 78, 14
 PUSHBUTTON "Mover abajo", 1852, 203, 259, 78, 14
}
